html,body {
    font-size: 14px;
    height: 100%;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  

.runway{
  max-width: 960px;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.midbox{
  height: 300px;
}

.topbox{
  align-items: flex-start;
}

.botbox {
}